In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
import os
import duckdb
import fastparquet

In [3]:
data_path = '../data'
if os.path.exists(data_path):
    os.chdir(data_path)
    print(f'Change directory to data path: {data_path}')
else:
    print('Please point to the correct data path!')

Change directory to data path: ../data

#### preprocessing data

In [4]:
# loading data

# standard CRSP exchange codes:
# 1 = NYSE
# 2 = AMEX
# 3 = NASDAQ
# 4 = NYSE Arca (includes SPY)
# 11 = NYSE MKT

con = duckdb.connect()

start_date = '2010-01-01'
end_date = '2012-01-01'

# Query:
# 1. join with delisting adjusted data
# 2. join with market data
# 3. filter by exchange
query_data = (f"""
    SELECT 
    dsf.permno,
    dlycaldt  AS date,
    dlyret    AS ret,
    shrout    AS shares_outstanding,
    (shrout * dlyprc) AS market_cap,
    mkt_rf,
    rf,
    (mkt_rf - rf) AS ret_rf
    FROM read_parquet('crsp_202401.dsf_v2.parquet') AS dsf 
    JOIN (
        SELECT DISTINCT permno, hexcd AS exchange
        FROM read_parquet('crsp_202401.dsenames.parquet')
    ) AS exchanges
    ON dsf.permno = exchanges.permno
    JOIN (
        SELECT dt, mkt_rf, rf
        FROM read_parquet('ff.four_factor.parquet')
    ) AS mkt
    ON dsf.dlycaldt = mkt.dt
    WHERE dlycaldt BETWEEN '{start_date}' AND '{end_date}'
    AND exchange IN (1, 2, 3)
""")

crsp_d = con.execute(query_data).fetch_df()
crsp_d['date'] = pd.to_datetime(crsp_d['date'])
con.close()
crsp_d.head(3)

,permno,date,ret,shares_outstanding,market_cap,mkt_rf,rf,ret_rf
0,42585,2010-01-11,-0.002255,119027.0,7372532.38,0.0013,0.0,0.0013
1,42585,2010-01-12,0.011463,119027.0,7457041.55,-0.0100,0.0,-0.0100
2,42585,2010-01-13,-0.000319,119027.0,7454661.01,0.0085,0.0,0.0085

In [5]:
print(f'Number of unique permnos: {crsp_d["permno"].nunique()}')

Number of unique permnos: 6546

#### Run regressions to get beta - multi-process

In [6]:
# calculate the average of the rolling betas
def calc_rolling_mean_beta(crsp_d: pd.DataFrame, window_size=60) -> float:
    # use a rolling window approach with a fixed window size
    betas = []

    for start in range(len(crsp_d) - window_size + 1):
        window_data = crsp_d.iloc[start:start + window_size]
        X = sm.add_constant(window_data['mkt_rf'])
        model = sm.OLS(window_data['ret_rf'], X, missing='drop')
        results = model.fit()
        betas.append(results.params['mkt_rf'])
        
    return sum(betas) / len(betas)

In [ ]:
from concurrent.futures import ProcessPoolExecutor
from tqdm import tqdm

beta_dict = {}

groups = [(permno, group) for permno, group in crsp_d.groupby('permno') if len(group) >= 60]

for permno, group in tqdm(groups):
    
    beta_result = calc_rolling_mean_beta(group)
    beta_dict[permno] = beta_result

beta_df = pd.DataFrame(beta_dict)

In [82]:
beta_df = beta_df.sort_values(by="beta", ascending=False).reset_index(drop=True)
beta_df.head(10)

   permno      beta
0   18405  4.884568
1   93284  4.176943
2   17437  4.071240
3   91128  4.062612
4   11182  3.631746
5   92855  3.587863
6   15613  3.551815
7   19039  3.535189
8   15348  3.497892
9   21999  3.468908

#### Permno Lookup table - just curious about which stocks have beta values so high

In [83]:
crsp_names = pd.read_parquet('crsp_202401.dsenames.parquet')
crsp_names.head()
# generate a dictionary of key: permno, value: ticker, from crsp_names
permno_ticker_dict = crsp_names.set_index("permno")["ticker"].to_dict()

In [84]:
top_10_permnos = beta_df.head(10)["permno"]
top_10_tickers = [permno_ticker_dict.get(permno) for permno in top_10_permnos]
top_10_tickers

['BACK',
 'SOXL',
 'VMIN',
 'GPOR',
 'GASL',
 'TECL',
 'DPST',
 'HIBL',
 'LABU',
 'FNGG']

#### Examine the cross-section of high beta stocks' return around turn of the month
modification of Ethan's code

In [129]:
def calc_turn_of_month_returns(crsp_d, permno, verbose=False):

    # data preprocessing
    curr_permno_d = crsp_d.query(f"permno == {permno}").reset_index(drop=True).copy()
    curr_permno_d['date'] = pd.to_datetime(curr_permno_d['date'])

    # Identify the last trading day of each month
    monthly_last = curr_permno_d.groupby(pd.Grouper(key='date', freq='M')).tail(1).reset_index(drop=True)

    # Initialize result columns
    monthly_last['prev_3_avg'] = np.nan
    monthly_last['prev_4_8_avg'] = np.nan
    monthly_last['next_3_avg'] = np.nan
    monthly_last['next_4_8_avg'] = np.nan

    # Create a mapping from date to index for quick lookup
    date_to_idx = {date: idx for idx, date in enumerate(curr_permno_d['date'])}

    # Iterate over each last trading day to calculate windowed returns
    for i, row in monthly_last.iterrows():
        current_date = row['date']
        current_idx = date_to_idx.get(current_date, -1)
        
        if current_idx == -1:
            if verbose:
                print(f"Error: Date {current_date} for permno {permno} not found in the original data.")
            continue  # Ensure the date exists in the original data
        
        # Previous 3-day window (3 trading days before the current date)
        if current_idx >= 3:
            prev_3 = curr_permno_d.iloc[current_idx-3:current_idx]['ret'].mean()
            monthly_last.at[i, 'prev_3_avg'] = prev_3
        
        # Previous 4-8 day window (4-8 trading days before the current date)
        if current_idx >= 8:
            prev_4_8 = curr_permno_d.iloc[current_idx-8:current_idx-3]['ret'].mean()  # Includes 5 days (4-8)
            monthly_last.at[i, 'prev_4_8_avg'] = prev_4_8
        
        # Next 3-day window (3 trading days after the current date)
        if current_idx + 3 < len(curr_permno_d):
            next_3 = curr_permno_d.iloc[current_idx+1:current_idx+4]['ret'].mean()
            monthly_last.at[i, 'next_3_avg'] = next_3
        
        # Next 4-8 day window (4-8 trading days after the current date)
        if current_idx + 8 < len(curr_permno_d):
            next_4_8 = curr_permno_d.iloc[current_idx+4:current_idx+9]['ret'].mean()  # Includes 5 days (4-8)
            monthly_last.at[i, 'next_4_8_avg'] = next_4_8
             
    results = pd.DataFrame(
        {'permno': str(permno),
        'From T-8 to T-4': monthly_last['prev_4_8_avg'].mean(),
        'From T-3 to T-1': monthly_last['prev_3_avg'].mean(),
        'On T': monthly_last['ret'].mean(),
        'From T+1 to T+3': monthly_last['next_3_avg'].mean(),
        'From T+4 to T+8': monthly_last['next_4_8_avg'].mean(),
        'Average daily return': curr_permno_d['ret'].mean()},
        index=[0]
    )
    
    return results

In [130]:
top_10_permnos = beta_df.head(10)["permno"]
top_10_permnos

0    18405
1    93284
2    17437
3    91128
4    11182
5    92855
6    15613
7    19039
8    15348
9    21999
Name: permno, dtype: int32

In [133]:
import warnings
warnings.filterwarnings('ignore')

results_list = [calc_turn_of_month_returns(crsp_d, permno) for permno in top_10_permnos]
combined_results = pd.concat(results_list, ignore_index=True)
combined_results

,permno,From T-8 to T-4,From T-3 to T-1,On T,From T+1 to T+3,From T+4 to T+8,Average daily return
0,18405,0.030233,-0.000623,0.012209,-0.002006,-0.000932,0.005812
1,93284,-0.000277,0.006701,0.000113,0.003426,0.001501,0.002576
2,17437,0.002895,0.000228,0.004594,-0.000772,-0.005762,0.000603
3,91128,-0.002443,0.003330,0.001042,0.000106,-0.001408,0.000929
4,11182,-0.007123,0.001995,-0.001587,-0.001439,-0.007141,-0.003285
5,92855,-0.000325,0.004920,-0.001281,0.004569,0.001836,0.002287
6,15613,-0.000901,0.007753,-0.011735,0.003023,0.002066,0.000945
7,19039,-0.001319,0.008405,-0.010404,0.010465,0.003044,0.002141
8,15348,-0.002013,-0.003122,0.006341,0.007573,-0.002346,0.000620
9,21999,-0.005673,0.005730,0.006295,-0.003791,-0.001222,-0.000411